<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-10">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Editar Usuario</h4>
                    </div>
                    <div class="content">
                        <form>
                            <div class="row">

                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label >Nombre de usuario</label>
                                        <input   [formControl]="nombre" type="text" class="form-control" placeholder="nombre de usuario">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Direccion de correo</label>
                                        <input  [formControl]="email"  type="email" class="form-control" placeholder="Email">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Codigo</label>
                                        <input  [formControl]="codigo"  type="text" class="form-control" placeholder="codigo">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Contraseña usuario</label>
                                        <input  [formControl]="password" type="text" class="form-control" placeholder="Contraseña">
                                    </div>
                                </div>
                            </div>


                            <button type="submit" class="btn btn-info btn-fill " (click)="agregarUsuario()">Agregar datos usuario</button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-4">


                <div class="container">
                    <div class="card">
                        <div class="card-header">
                            <h3>
                                <div class="text-center"> Usuarios</div>

                            </h3>
                        </div>
                        <div class="card-body">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                      
                                            <th class="centrar" layout-align="center center" style="min-height: 500px">CODIGO</th>
                                       
                                
                                            <th class="centrar" layout-align="center center">EMAIL</th>
                                       
                                       

                                            <th class="centrar" layout-align="center center">NOMBRE</th>
                                      
                                       
                                            <th class="centrar" layout-align="center center">PAASWORD</th>
                                     
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let usuario of usuarios" class="text-center">
                                        <td>{{usuario.codigo}}</td>
                                        <td>{{usuario.email}}</td>
                                        <td>{{usuario.nombre}}</td>
                                        <td>{{usuario.password}}</td>
                                        <td>
                                            <button class="btn btn-warning   btn-fill " [routerLink]="['/editar/',usuario.codigo]">Editar</button>
                                            <button class="btn btn-danger   btn-fill" style="margin: 10px;"  (click)="ObtenerUsuario(usuario.codigo)">Eliminar</button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
            <hr>
        </div>
    </div>
</div>