<div class="main-content">
    <div class="abs-center">
        <div class="container-fluid">
            <div class="col-md-10">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Informacion y sistemas</h4>
                        <p class="category">Unidad academica o Administrativa
                        </p>
                    </div>


                    <div class="content">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="text-center">
                                    <div class="form-group">
                                        <!-- State Button -->
                                        <label for="state_id" class="control-label">Eje estrategico</label>
                                        <select class="form-control" id="state_id">
                                            <option value="1">1.EJE ESTRATÉGICO INNOVACIÓN</option>
                                            <option value="AK">Alaska</option>
                                            <option value="AZ">Arizona</option>
                                            <option value="AR">Arkansas</option>
                                            <option value="CA">California</option>
                                            <option value="CO">Colorado</option>
                                            <option value="CT">Connecticut</option>
                                            <option value="DE">Delaware</option>
                                            <option value="DC">District Of Columbia</option>

                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <br>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="text-center">
                                    <div class="form-group">
                                        <!-- State Button -->
                                        <label for="state_id" class="control-label">Objetivo estrategico</label>
                                        <select class="form-control" id="state_id">
                                            <option value="1">1.2 Consolidar entornos diferenciales de enseñanza que
                                                permitan asegurar
                                                la adquisición de las competencias requeridas</option>
                                            <option value="AK">Alaska</option>
                                            <option value="AZ">Arizona</option>
                                            <option value="AR">Arkansas</option>
                                            <option value="CA">California</option>
                                            <option value="CO">Colorado</option>
                                            <option value="CT">Connecticut</option>
                                            <option value="DE">Delaware</option>
                                            <option value="DC">District Of Columbia</option>

                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                        <br>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="text-center">
                                    <div class="form-group">
                                        <!-- State Button -->
                                        <label for="state_id" class="control-label">Proyecto</label>
                                        <select class="form-control" id="state_id">
                                            <option value="1">1.2.1 14 ambientes especializados de aprendizaje,
                                                vinculando
                                                nuevas tecnologías que faciliten el acceso a la información y el
                                                conocimiento</option>
                                            <option value="AK">Alaska</option>
                                            <option value="AZ">Arizona</option>
                                            <option value="AR">Arkansas</option>
                                            <option value="CA">California</option>
                                            <option value="CO">Colorado</option>
                                            <option value="CT">Connecticut</option>
                                            <option value="DE">Delaware</option>
                                            <option value="DC">District Of Columbia</option>

                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                        <br>
                        <div class="places-buttons">
                            <div class="row">
                                <div class="col-md-5  text-center">
                                    <h5>INGRESO DE DATOS
                                        <p class="category">Meta</p>
                                    </h5>
                                </div>
                            </div>

                            <div class="content">

                                <div class="center-block">
                                    <div class="row">
                                        <div class="col-md-9 text-center">
                                            <form>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <!-- Full Name -->
                                                        <label for="full_name_id" class="control-label">Datos de meta y
                                                            requisitos</label>
                                                        <input type="text" class="form-control" id="full_name_id"
                                                            name="Meta" placeholder="..">
                                                    </div>

                                                    <div class="form-group">
                                                        <!-- Street 1 -->
                                                        <label for="street1_id" class="control-label">Cantidad de
                                                            articulos</label>
                                                        <input type="text" class="form-control" id="street1_id"
                                                            name="street1"
                                                            placeholder="Street address, P.O. box, company name, c/o">
                                                    </div>
                                                    <br>
                                                    <div class="form-group">
                                                    <div class="container">
                                                        <div class="row">      
                                                           <div class='col-sm-2'>
                                                              <div class="form-group">
                                                                 <div class='input-group date' id='datetimepicker1'>
                                                                    <input type='text' class="form-control" />
                                                                    <span class="input-group-addon">
                                                                    <span class="glyphicon glyphicon-calendar"></span>
                                                                    </span>
                                                                 </div>
                                                              </div>
                                                           </div>
                                                        </div>
                                                           <script type="text/javascript">
                                                              $(function () {
                                                                  $('#datetimepicker1').datetimepicker();
                                                              });
                                                           </script>
                                                        </div>
                                                     </div>


    
                                                    <div class="form-group">
                                                        <!-- State Button -->
                                                        <label for="state_id" class="control-label">PESO</label>
                                                        <select class="form-control" id="state_id">
                                                            <option value="AL">5%</option>
                                                            <option value="AK">10%</option>
                                                            <option value="AZ">15%</option>
                                                            <option value="AR">20%</option>
                                                            <option value="CA">25%</option>
                                                            <option value="CO">30%</option>
                                                            <option value="CT">35%</option>
                                                            <option value="DE">40%</option>
                                                            <option value="DE">45%</option>
                                                            <option value="DE">50%</option>
                                                            <option value="DE">55%</option>
                                                            <option value="DE">60%</option>
                                                        </select>

                                                




                                                    </div>

                                                    <div class="form-group">
                                                        <!-- Submit Button -->
                                                        <button type="submit" class="btn btn-primary">Guardar</button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>

                                    </div>
                                </div>
                            </div>



                        </div>



                    </div>


                </div>


            </div>
        </div>


    </div>
</div>