<div class="main-content">
    <div class="abs-center">
        <div class="container-fluid">
            <div class="col-md-10">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Informacion y sistemas</h4>
                        <p class="category">Unidad academica o Administrativa
                        </p>
                    </div>


                    <div class="content">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="text-center">
                                    <div class="form-group">
                                        <!-- State Button -->
                                        <label for="state_id" class="control-label">Eje estrategico</label>
                                        <select class="form-control" id="state_id">
                                            <option value="1">1.EJE ESTRATÉGICO INNOVACIÓN</option>
                                        

                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <br>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="text-center">
                                    <div class="form-group">
                                        <!-- State Button -->
                                        <label for="state_id" class="control-label">Objetivo estrategico</label>
                                        <select class="form-control" id="state_id">
                                            <option value="1">1.2 Consolidar entornos diferenciales de enseñanza que
                                                permitan asegurar
                                                la adquisición de las competencias requeridas</option>
                                            <option value="12">1.2 Consolidar entornos diferenciales de enseñanza que permitan asegurar la adquisición de las competencias requerida</option>
                                            <option value="13">1.3 Consolidar un sistema de aseguramiento de la calidad académica y administrativa, mediado por procesos de innovación, que permita alcanzar altos estándares nacionales e internacionales</option>
                                            <option value="14">1.4 Fortalecer la relación Universidad - Empresa - Sociedad, a través de la creación, gestión y transferencia del conocimiento científico, tecnológico, artístico y humanístico, para convertirse en pilar del desarrollo económico, social y cultural del país</option>
                                            <option value="15">1.5 Ser reconocidos por la trasformación digital de los procesos académicos y administrativos en el contexto de las instituciones de la educación superior</option>
                                            <option value="16">1.6 Ser referente nacional e internacional en innovación social</option>
                                        

                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                        <br>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="text-center">
                                    <div class="form-group">
                                        <!-- State Button -->
                                        <label for="state_id" class="control-label">Proyecto</label>
                                        <select class="form-control" id="state_id">
                                            <option value="1">1.2.1 14 ambientes especializados de aprendizaje,
                                                vinculando
                                                nuevas tecnologías que faciliten el acceso a la información y el
                                                conocimiento</option>
                                            <option value="2">20 programas académicos nuevos en los niveles de pregrado y posgrado en modalidades presencial y virtual</option>
                                            <option value="3">140 programas de formación ejecutiva y continuada, dirigidos a empresas y profesionales', 1,4</option>
                                            <option value="4">1.1.3 25 cursos masivos constantes abiertos en línea (Massive Open Online Course</option>
                                            <option value="5">1.2.1 14 ambientes especializados de aprendizaje, vinculando nuevas tecnologías que faciliten el acceso a la información y el conocimiento</option>
                                            <option value="6">1.2.3 El 20% del total de los créditos por programa académico presencial que corresponde al núcleo de formación transversal, estarán en la plataforma virtua</option>
                                            <option value="7">1.3.1 El Sistema de Aseguramiento de la Calidad deberá ser flexible y responder a tiempo a las exigencias de los estándares de acreditación</option>
                                            <option value="8">1.3.2 El Sistema de Gestión Curricular garantizará la pertinencia, integralidad e innovación permanente de los programas académicos</option>
                                            <option value="9">1.3.3 Acreditación en alta calidad de los programas académicos acreditables, ante el Ministerio de Educación Naciona</option>
                                            <option value="4">1.3.4 Acreditación institucional de alta calidad ante el Ministerio de Educación Naciona</option>
                                            <option value="5">1.3.5 Acreditación internacional en alta calida'</option>
                                            <option value="6">1.4.1 10 proyectos de innovación con entidades del sector productivo</option>
                                            <option value="7">1.4.2 Tres patentes que aporten al desarrollo económico y social del país</option>
                                            <option value="8">1.4.3 Pre-incubación de 70 empresa</option>
                                            <option value="9">1.4.4 Pre-incubación de 7 empresas comunitarias</option>
                                            <option value="4">1.4.5 Crear y consolidar la Oficina de Transferencia de Resultados de Investigación - OTRI Universidad La Gran Colombia</option>
                                            <option value="5">1.5.1 Cuatro proyectos de transformación digita'</option>
                                            <option value="6">1.5.2 El 100% de los sistemas de información integrados</option>
                                            <option value="7">1.5.3 El 100% de los servicios académicos y administrativos disponibles en línea</option>
                                            <option value="8">1.5.4 El 100% de los estudiantes, profesores y administrativos con posibilidad de acceso a la plataforma digital mediante dispositivos móviles</option>
                                            <option value="9">1.6.1 Dos proyectos de innovación social con organismos de cooperación internacional</option>
                                            <option value="6">1.6.2 Tres espacios permanentes en los medios de difusión institucional, para la comunicación del impacto de los proyectos estratégicos institucionales</option>
                                          
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                        <br>
                        <div class="places-buttons">
                            <div class="row">
                                <div class="col-md-5  text-center">
                                    <h5>INGRESO DE DATOS
                                        <p class="category">Meta</p>
                                    </h5>
                                </div>
                            </div>

                            <div class="content">

                                <div class="center-block">
                                    <div class="row">
                                        <div class="col-md-9 text-center">
                                            <form>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <!-- Full Name -->
                                                        <label for="full_name_id" class="control-label">Datos de meta y
                                                            requisitos</label>
                                                        <input type="text" class="form-control" id="full_name_id"
                                                            name="Meta" placeholder="..">
                                                    </div>

                                                    <div class="form-group">
                                                        <!-- Street 1 -->
                                                        <label for="street1_id" class="control-label">Cantidad de
                                                            articulos</label>
                                                        <input type="text" class="form-control" id="street1_id"
                                                            name="street1"
                                                            placeholder="ingrese cantidad">
                                                    </div>
                                                    <br>
                                                    <div class="form-group">
                                                    <div class="container">
                                                        <div class="row">      
                                                           <div class='col-sm-2'>
                                                              <div class="form-group">
                                                                 <div class='input-group date' id='datetimepicker1'>
                                                                    <input type='text' class="form-control" />
                                                                    <span class="input-group-addon">
                                                                    <span class="glyphicon glyphicon-calendar"></span>
                                                                    </span>
                                                                 </div>
                                                              </div>
                                                           </div>
                                                        </div>
                                                           <script type="text/javascript">
                                                              $(function () {
                                                                  $('#datetimepicker1').datetimepicker();
                                                              });
                                                           </script>
                                                        </div>
                                                     </div>


    
                                                    <div class="form-group">
                                                        <!-- State Button -->
                                                        <label for="state_id" class="control-label">PESO</label>
                                                        <select class="form-control" id="state_id">
                                                            <option value="AL">5%</option>
                                                            <option value="AK">10%</option>
                                                            <option value="AZ">15%</option>
                                                            <option value="AR">20%</option>
                                                            <option value="CA">25%</option>
                                                            <option value="CO">30%</option>
                                                            <option value="CT">35%</option>
                                                            <option value="DE">40%</option>
                                                            <option value="DE">45%</option>
                                                            <option value="DE">50%</option>
                                                            <option value="DE">55%</option>
                                                            <option value="DE">60%</option>
                                                        </select>

                                                




                                                    </div>

                                                    <div class="form-group">
                                                        <!-- Submit Button -->
                                                        <button type="submit" class="btn btn-primary">Guardar</button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>

                                    </div>
                                </div>
                            </div>



                        </div>



                    </div>


                </div>


            </div>
        </div>


    </div>
</div>